[Unit]
Description=Daily GRASP Server Disk Usage Audit

[Timer]
OnCalendar=*-*-* {{ "%02d" | format(grasp_audit_cron_hour) }}:{{ "%02d" | format(grasp_audit_cron_minute) }}:00
Persistent=true

[Install]
WantedBy=timers.target
