services:
  {{ ngit_relay_container_name }}:
    image: {{ ngit_relay_image }}
    container_name: {{ ngit_relay_container_name }}
    restart: unless-stopped
    network_mode: host
    volumes:
      - {{ tollgate_base_dir }}/ngit-relay/strfry.conf:/etc/strfry.conf:ro
      - {{ tollgate_base_dir }}/ngit-relay/db:/strfry-db
      - {{ tollgate_base_dir }}/relatr/strfry-wot-policy.sh:/opt/strfry-wot-policy.sh:ro
      - {{ tollgate_base_dir }}/relatr/wot-cache.json:/opt/tollgate/relatr/wot-cache.json
